.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.logo {
  font-family: "Merriweather", serif;
  font-size: 28px;
  font-weight: 700;
  color: #00bcd4;
  flex: 1;
}

.navigation {
  display: flex;
  flex: 2;
  justify-content: center;
}

.navigation a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  position: relative;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #00bcd4;
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.auth-buttons .login-btn,
.auth-buttons .register-btn {
  padding: 8px 15px; /* Reduced padding to fit within the navbar */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 10px;
}

.login-btn {
  background-color: transparent;
  border: 2px solid #00bcd4;
  color: #00bcd4;
}

.login-btn:hover {
  background-color: #00bcd4;
  color: #fff;
}

.register-btn {
  background-color: #00bcd4;
  color: #fff;
}

.register-btn:hover {
  background-color: #0097a7;
}
